Repository TelesCoop/iarbre-script-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Calqul Python, Build Calqul Postgis

Build Calqul Python:
  stage: Build Calqul
  environment: dev
  variables:
    IMAGE_NAME: calqul-python-$NAMESPACE_ENV
    IMAGE_DIR: ./Dockerfiles/python
  services:
  - docker:dind
  script:
  - - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - cd $IMAGE_DIR
  - - cp .env.example .env
  ...

Build Calqul Postgis:
  stage: Build Calqul
  environment: dev
  variables:
    IMAGE_NAME: calqul-db-$NAMESPACE_ENV
    IMAGE_DIR: ./Dockerfiles/db
  services:
  - docker:dind
  script:
  - - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - cd $IMAGE_DIR
  ...

Just take time to write a nice deployment file
  deployment/git-calqul.yml
Due: none

Install & configure git lfs in docker image
  Dockerfiles/git/Dockerfile
Due: none

LEt's try some git lfs in the job now !
  .gitlab-ci.yml
  deployment/job-calqul.yml
Due: Build Calqul Python, Build Calqul Postgis

no more sleeping moments...
  deployment/job-calqul.yml
Due: none

fix path to data
  deployment/job-calqul.yml
Due: none

Python script is ready now
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

Db dump
  .gitlab-ci.yml
  Dockerfiles/db/Dockerfile
  Dockerfiles/db/db-init/20_init_arb.sh
  Dockerfiles/db/db-init/sql/30-create_tables.sql
  Dockerfiles/db/db-init/sql/40-insert_data.sql
  Dockerfiles/git/Dockerfile
  Dockerfiles/git/update_data.sh
  Dockerfiles/python/.env.example
  Dockerfiles/python/Dockerfile
  Dockerfiles/python/scripts/launch.sh
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
  deployment/configMaps/pgdump-calqul.yml
  deployment/job-calqul.yml
  deployment/jobs/dump-calqul.yml
  deployment/jobs/master-calqul.yml
  deployment/pods/db-calqul.yml
  deployment/pods/git-calqul.yml
  deployment/pods/pvc-calqul.yml
  deployment/secrets/database-secret.yml
  deployment/services/db-calqul.yml
Due: Build Calqul Python, Build Calqul Postgis

Change resources place in yaml file, because jobs had no more env vars ??? Esoteric commit 8-(
  .gitlab-ci.yml
  deployment/git-calqul.yml
  deployment/job-calqul.yml
  deployment/jobs/master-calqul.yml
Due: Build Calqul Python, Build Calqul Postgis

Proxy param for 'requests.get'
  Dockerfiles/python/.env.example
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

upgrade resources
  deployment/jobs/master-calqul.yml
Due: none

resources
  deployment/jobs/master-calqul.yml
Due: none

indent
  deployment/jobs/master-calqul.yml
Due: none

memory limit 4G
  deployment/jobs/master-calqul.yml
Due: none

memory resources
  deployment/jobs/master-calqul.yml
Due: none

refactoring file pathes
  Dockerfiles/python/.env.example
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

Error hnadling
  Dockerfiles/python/scripts/launch.sh
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
  codes-erreur.md
Due: Build Calqul Python

job specs
  deployment/jobs/master-calqul.yml
Due: none

handling configuration error
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

error handling in checkEnvFile
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

resources adjustments
  deployment/jobs/master-calqul.yml
Due: none

fix exit function
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

debugging polygons
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

debug communes
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

revert
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

dumping communes to a file
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

debugging gp conversion
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

debug gp conv
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

debug gp conv...
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

debug wkt
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

debug conv to wkt
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

revert
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

Creating townships from SQL datafile
  Dockerfiles/db/db-init/20_init_arb.sh
  Dockerfiles/db/db-init/sql/50-insert_communes.sql
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python, Build Calqul Postgis

memory limits
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

launch computation on one township only
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

add deps : rtree, pygeos
  Dockerfiles/python/Dockerfile
Due: Build Calqul Python

parameterize grid size
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

Update deployment/jobs/master-calqul.yml
  deployment/jobs/master-calqul.yml
Due: none

Path conditions:
  Build Calqul Python: any of: Dockerfiles/python/Dockerfile, Dockerfiles/python/scripts/*, .gitlab-ci.yml
  Build Calqul Postgis: any of: Dockerfiles/db/**/*, .gitlab-ci.yml
