Repository TelesCoop/iarbre-script-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

Path conditions:
  Build Calqul Python: any of: Dockerfiles/python/Dockerfile, Dockerfiles/python/scripts/*, .gitlab-ci.yml
  Build Calqul Postgis: any of: Dockerfiles/db/**/*, .gitlab-ci.yml
  Build Calqul Git-lfs: any of: Dockerfiles/git/**/*, .gitlab-ci.yml

Set Liveness and Readyness probes, request and limits resources
  Dockerfiles/python/scripts/healthy.sh
  deployment/jobs/stage-calqul.yml
Due: Build Calqul Python

Refactoring deploy tasks to deploy manual as much tasks as needed by script's stages
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

typo
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

Refactoring stage names, fixing sed replacements
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

Refactoring stage name because Openshift does not allow UPPERCASE in subdomain names.
  .gitlab-ci.yml
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

Add env vars
  deployment/jobs/compute-indices-calqul.yml
  deployment/jobs/stage-calqul.yml
Due: none

Simplify Probes
  Dockerfiles/python/scripts/healthy.sh
  deployment/jobs/stage-calqul.yml
Due: Build Calqul Python

size up calqul-db resources
  deployment/pods/db-calqul.yml
Due: none

typo
  deployment/pods/db-calqul.yml
Due: none

sizing up resources
  deployment/pods/db-calqul.yml
Due: none

OpenShift sucks
  deployment/pods/db-calqul.yml
Due: none

Add index on tiles_factors.id_tiles
  Dockerfiles/db/db-init/sql/30-create_tables.sql
Due: Build Calqul Postgis

wait for postgis' readyness
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

delete pygeos useless server side
  Dockerfiles/python/Dockerfile
Due: Build Calqul Python

install Fiona and Pyproj as requirements
  Dockerfiles/python/scripts/requirements.txt
Due: Build Calqul Python

debug layer
  Dockerfiles/python/Dockerfile
Due: Build Calqul Python

specify Array explicitly
  Dockerfiles/python/scripts/gaz.py
Due: Build Calqul Python

Add Init-Grid stage
  .gitlab-ci.yml
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

fix: Try to fix souterrain_enedis.py
  Dockerfiles/python/scripts/souterrain_enedis.py
Due: Build Calqul Python

fix: Try to fix aerien_enedis.py
  Dockerfiles/python/scripts/aerien_enedis.py
Due: Build Calqul Python

Don'nt check database loopely
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

fix sql ddl problem with type
  Dockerfiles/db/db-init/sql/30-create_tables.sql
Due: Build Calqul Postgis

InitGrid for each township to avoid memory overflow
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

comments
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

uncomment psql check
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

Requesting only 2GB
  deployment/jobs/stage-calqul.yml
Due: none

Order township list
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

adjust resources
  deployment/pods/db-calqul.yml
Due: none

Optimize count requests
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

comments
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

Add processing features and flags to optimize
  Dockerfiles/db/db-init/sql/30-create_tables.sql
  Dockerfiles/db/db-init/sql/40-insert_data.sql
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python, Build Calqul Postgis

resource sucks
  deployment/pods/db-calqul.yml
Due: none

resouce sucks 2
  deployment/pods/db-calqul.yml
Due: none

resources finally sucks ?
  deployment/pods/db-calqul.yml
Due: none

str to int conversion
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

Bugfixes on getProcess' conversions
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

doc
  codes-erreur.md
Due: none

Bugfix on retruned value
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

fix setting value
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

Fix SQL insert
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python
