Repository TelesCoop/iarbre-script-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

Path conditions:
  Build Calqul Python: any of: Dockerfiles/python/Dockerfile, Dockerfiles/python/scripts/*, .gitlab-ci.yml
  Build Calqul Postgis: any of: Dockerfiles/db/**/*, .gitlab-ci.yml
  Build Calqul Git-lfs: any of: Dockerfiles/git/**/*, .gitlab-ci.yml

Adjust limits and requests
  deployment/jobs/master-calqul.yml
Due: none

Set grid Size to 25x25 and try to compute all townships
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

python alias and test all townships one by one
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

Update Dockerfiles/python/scripts/launch.sh
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

Set BackOffLimit to 10 to get cumulative work on each job launch
  deployment/jobs/master-calqul.yml
Due: none

Upgrade shapely lib to improve perfs
  Dockerfiles/python/Dockerfile
Due: Build Calqul Python

Update deployment/jobs/master-calqul.yml
  deployment/jobs/master-calqul.yml
Due: none

bash loop
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

fix loop
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

comment
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

InitDatas on the whole territory
  Dockerfiles/python/.env.example
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

Debug line
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

better debug in script
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

Debug db insertions
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
  codes-erreur.md
Due: Build Calqul Python

reduce township list to one (debugging purpose)
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

add pgadmin on db image
  Dockerfiles/db/Dockerfile
Due: Build Calqul Postgis

back
  deployment/routes/calqul-db-route.yml
Due: none

add futher nodePort to allows pg remote clients
  deployment/services/db-calqul.yml
Due: none

db optimization : Create some more indexes
  Dockerfiles/db/db-init/sql/30-create_tables.sql
Due: Build Calqul Postgis

PROJ_LIB value
  Dockerfiles/db/Dockerfile
  Dockerfiles/python/Dockerfile
Due: Build Calqul Python, Build Calqul Postgis

Debug verbosity for pyproj
  Dockerfiles/python/Dockerfile
Due: Build Calqul Python

raise grid to 50
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

skip memory directive
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

add a docker compose file for local deployment (testing)
  .env-docker-compose-dev
  docker-compose.yml
Due: none

Adjusts limits and requests
  deployment/jobs/master-calqul.yml
  deployment/pods/pvc-calqul.yml
Due: none

Minimum of resources for this debug pod
  deployment/pods/pvc-calqul.yml
Due: none

debug : add node port to access to db with a client
  deployment/services/db-calqul.yml
Due: none

full calculation
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

syntax
  deployment/pods/db-calqul.yml
  deployment/pods/pvc-calqul.yml
Due: none

syntax
  deployment/pods/db-calqul.yml
Due: none

service type : nodePort
  deployment/services/db-calqul.yml
Due: none

no target port ?
  deployment/services/db-calqul.yml
Due: none

syntax
  deployment/services/db-calqul.yml
Due: none

pffff....
  deployment/services/db-calqul.yml
Due: none

reverse to initial port conf
  deployment/services/db-calqul.yml
Due: none

Add db service on external port : dev & debug only
  .gitlab-ci.yml
  deployment/services/db-calqul-debug.yml
  deployment/services/db-calqul.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

syntax
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

checking commad return after each operation
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

fix insee column at int instead of varchar
  Dockerfiles/db/db-init/sql/30-create_tables.sql
Due: Build Calqul Postgis

test skipping existing data
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python
