Repository TelesCoop/iarbre-script-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

Build Calqul Python:
  stage: Build Calqul
  environment: dev
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE_NAME: calqul-python-$NAMESPACE_ENV
    IMAGE_DIR: ./Dockerfiles/python
  services:
  - docker:dind
  script:
  - - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - cd $IMAGE_DIR
  ...

Build Calqul Postgis:
  stage: Build Calqul
  environment: dev
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE_NAME: calqul-db-$NAMESPACE_ENV
    IMAGE_DIR: ./Dockerfiles/db
  services:
  - docker:dind
  script:
  - - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - cd $IMAGE_DIR
  ...

Build Calqul Git-lfs:
  stage: Build Calqul
  environment: dev
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE_NAME: calqul-git-lfs-$NAMESPACE_ENV
    IMAGE_DIR: ./Dockerfiles/git
  services:
  - docker:dind
  script:
  - - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - cd $IMAGE_DIR
  ...

log
  .gitignore
Due: none

cleanup of useless openShift object
  .gitlab-ci.yml
  deployment/configMaps/pgdump-calqul.yml
  deployment/jobs/dump-calqul.yml
  deployment/jobs/master-calqul.yml
  deployment/jobs/stage-calqul.yml
  deployment/pods/git-calqul.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

job name
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

syntax
  deployment/pods/db-calqul.yml
Due: none

Use GIST to create spatial index on Tiles
  Dockerfiles/db/db-init/sql/30-create_tables.sql
Due: Build Calqul Postgis

Fix data type for sum_indice in plpgsql block
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

pvc monitoring with pod
  Dockerfiles/db/Dockerfile
  deployment/pods/pvc-calqul.yml
Due: Build Calqul Postgis

local build for db
  Dockerfiles/db/local-build.sh
Due: Build Calqul Postgis

doc : deployment is manual, no specific rules on branches
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

doc
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

cleanup
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

Cleanup code
  Dockerfiles/db/db-init/sql/40-insert_data.sql
  Dockerfiles/python/Dockerfile
  Dockerfiles/python/scripts/launch.sh
  codes-erreur.md
  deployment/configMaps/pgdump-calqul.yml
  deployment/jobs/dump-calqul.yml
  deployment/jobs/master-calqul.yml
  deployment/pods/git-calqul.yml
  deployment/routes/calqul-db-route.yml
Due: Build Calqul Python, Build Calqul Postgis

merge main on develop
  deployment/db-calqul.yml
  deployment/job-calqul.yml
  deployment/service-calqul.yml
Due: none

yaml syntax due to merge
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

chore: some updates to URLs and code
  .gitignore
  Dockerfiles/db/db-init/sql/40-insert_data.sql
  Dockerfiles/python/.env.example
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/requirements.txt
  Dockerfiles/python/scripts/utils.py
  README.md
  docker-compose.yml
Due: Build Calqul Python, Build Calqul Postgis

Path conditions:
  Build Calqul Python: any of: Dockerfiles/python/Dockerfile, Dockerfiles/python/scripts/*, .gitlab-ci.yml
  Build Calqul Postgis: any of: Dockerfiles/db/**/*, .gitlab-ci.yml
  Build Calqul Git-lfs: any of: Dockerfiles/git/**/*, .gitlab-ci.yml
