Repository TelesCoop/IArbre-v1-Script-recalcul-calque-recopie-Metropole-de-forge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Calqul Python, Build Calqul Git-lfs

Path conditions:
  Build Calqul Python: any of: Dockerfiles/python/Dockerfile, Dockerfiles/python/scripts/*, .gitlab-ci.yml
  Build Calqul Git-lfs: any of: Dockerfiles/git/**/*, .gitlab-ci.yml

try fix un understandable resource limits
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Git-lfs

adjust resources
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Git-lfs

parallelize computeFactors
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

parallelize initGrid
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

fix bug on init-Grid, set DBSchema explicitly
  Dockerfiles/python/scripts/launch.sh
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

set search path
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

possibility to set Search path or not
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

fix db connection for big data
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

psycopg2 sucks...
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

psycopg2 sucks...
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

add memory to db pod
  deployment/pods/db-calqul.yml
Due: none

set parallel jobs to 3
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

add postgresql.conf file to refine parameters easily
  Dockerfiles/db/Dockerfile
  Dockerfiles/db/postgresql.conf
Due: none

udate probes
  deployment/pods/db-calqul.yml
Due: none

add a tuning script for postgres instance
  Dockerfiles/db/Dockerfile
  Dockerfiles/db/db-init/20_init_arb.sh
  Dockerfiles/db/db-init/30-create_tables.sql
  Dockerfiles/db/db-init/40-insert_data.sql
  Dockerfiles/db/db-init/sql/30-create_tables.sql
  Dockerfiles/db/db-init/sql/60-tuning-parameters.sql
  Dockerfiles/db/local-build.sh
  Dockerfiles/db/postgresql.conf
Due: none

add timestamp at each stage
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

line
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

fix probes
  deployment/pods/db-calqul.yml
Due: none

adjust limits
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Git-lfs

fix db probes
  deployment/pods/db-calqul.yml
Due: none

2 jobs in parallel
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

tuuning db
  Dockerfiles/db/db-init/sql/60-tuning-parameters.sql
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

adds DEX and links it with readme
  DEX.md
  README.md
Due: none

mermaid process
  DEX.md
Due: none

set mermaid LR instead of TD
  DEX.md
Due: none

fix link
  DEX.md
Due: none
