Repository TelesCoop/iarbre-script-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

Path conditions:
  Build Calqul Python: any of: Dockerfiles/python/Dockerfile, Dockerfiles/python/scripts/*, .gitlab-ci.yml
  Build Calqul Postgis: any of: Dockerfiles/db/**/*, .gitlab-ci.yml
  Build Calqul Git-lfs: any of: Dockerfiles/git/**/*, .gitlab-ci.yml

Adjust resources for each stage. Job duration up to 160h instead of 40h.
  .gitlab-ci.yml
  deployment/jobs/stage-calqul.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

Only one block try / except
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

Try to bulk insert in computeFactors
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

Bugfix : don't play insert if there is no data to be inserted
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

Refactoring bulk insert
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

try to accelarate computing factors by allowing more cpu
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

adjusting resources
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

Limit and request inversion
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

try to commit every 10000 lines
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

Fix bulk expression
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

always watching /mnt/data
  deployment/pods/pvc-calqul.yml
Due: none

Try to deploy qgis server
  .gitlab-ci.yml
  deployment/pods/qgis-server-calqul.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

refacto
  deployment/secrets/database-secret.yml
Due: none

feat watch PV
  deployment/pods/pvc-calqul.yml
  deployment/pods/qgis-server-calqul.yml
Due: none

typo
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

cleanup unused files
  qgis/recalcul.qgz
  qgis/style.qml
  qgis/style.sld
  qgis/style_09-08-2022.sld
  qgis/style_communes.sld
  qgis/style_communes_libelle.sld
  qgis/style_communes_temp.sld
  qgis/style_geoserver.sld
  qgis/style_geoserver_affiné_v1.sld
  qgis/style_geoserver_affiné_v2.sld
Due: none

refactoring gitlab_ci to be dryer
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

fix typo
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

feat : add a description global variable.
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

feat : add a cleanup stage to truncate everything beafore launching calculation
  Dockerfiles/python/scripts/launch.sh
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

fix mising replacement
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

fix ci
  .gitlab-ci.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

testing EnableTruncate option
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

fix test EnableTruncate
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

fix sh launcher for "cleanup" stage
  Dockerfiles/python/scripts/launch.sh
  Dockerfiles/python/scripts/main.py
Due: Build Calqul Python

fix cleanup stage by deleting all generated data un DB. No change on ENABLE_TRUNCATE is done.
  Dockerfiles/python/scripts/launch.sh
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

fix 'case when' action in sh
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

fix typo
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

truncate table instead of delete
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

fix and fix and refix typo, Metropole dev env sucks...
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

fix truncate sql order
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

Cascading truncate
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

fix getProcess function
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

debug getProgress
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

debug
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

Resources Optimization
  .gitlab-ci.yml
  deployment/pods/db-calqul.yml
Due: Build Calqul Python, Build Calqul Postgis, Build Calqul Git-lfs

ignore .log files
  .gitignore
Due: none

log files
  .gitignore
Due: none

log
  .gitignore
Due: none
