Repository TelesCoop/iarbre-script-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Calqul Python, Build Calqul Postgis

Build Calqul Python:
  stage: Build Calqul
  variables:
    DOCKER_TLS_CERTDIR: ''
    NAMESPACE_ENV: d01
    IMAGE_NAME: calqul-python-$NAMESPACE_ENV
    IMAGE_DIR: ./Dockerfiles/python
  services:
  - docker:dind
  script:
  - - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - cd $IMAGE_DIR
  ...

Build Calqul Postgis:
  stage: Build Calqul
  variables:
    DOCKER_TLS_CERTDIR: ''
    NAMESPACE_ENV: d01
    IMAGE_NAME: calqul-db-$NAMESPACE_ENV
    IMAGE_DIR: ./Dockerfiles/db
  services:
  - docker:dind
  script:
  - - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - cd $IMAGE_DIR
  ...

good pvc name
  Dockerfiles/db/Dockerfile
  deployment/db-calqul.yml
Due: Build Calqul Postgis

try with shity modifications ?
  Dockerfiles/db/Dockerfile
Due: Build Calqul Postgis

try #n+1, ...pffff...
  Dockerfiles/db/Dockerfile
  deployment/db-calqul.yml
Due: Build Calqul Postgis

#n+2 when n goes near infinity...
  Dockerfiles/db/Dockerfile
Due: Build Calqul Postgis

youpi !
  Dockerfiles/db/Dockerfile
  deployment/db-calqul.yml
Due: Build Calqul Postgis

tralala
  Dockerfiles/db/Dockerfile
  deployment/db-calqul.yml
Due: Build Calqul Postgis

no USER directive
  Dockerfiles/db/Dockerfile
Due: Build Calqul Postgis

just postgis image
  deployment/db-calqul.yml
Due: none

user root in building
  Dockerfiles/db/Dockerfile
  deployment/db-calqul.yml
Due: Build Calqul Postgis

change image building
  Dockerfiles/db/Dockerfile
Due: Build Calqul Postgis

Borring of openshit
  Dockerfiles/db/Dockerfile
Due: Build Calqul Postgis

just another test more & more
  Dockerfiles/db/Dockerfile
  deployment/db-calqul.yml
Due: Build Calqul Postgis

headhatch
  deployment/db-calqul.yml
Due: none

Cleanup final db imaige & deploy version with PVC... hoping so...
  Dockerfiles/db/Dockerfile
  deployment/db-calqul.yml
Due: Build Calqul Postgis

pre merge
  .env
Due: none

develop branch in CI
  .gitlab-ci.yml
Due: Build Calqul Python

First try : launch init scripts
  .gitlab-ci.yml
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

install git in python image (needed for data pulling)
  Dockerfiles/python/Dockerfile
Due: Build Calqul Python

dockerfile syntax
  Dockerfiles/python/Dockerfile
Due: Build Calqul Python

feat: Add communes file path in .env.example and in main.py
  .gitignore
  Dockerfiles/python/.env.example
  Dockerfiles/python/scripts/main.py
  Dockerfiles/python/scripts/utils.py
Due: Build Calqul Python

all python inits in one
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

Testing some CI variables
  .gitlab-ci.yml
Due: Build Calqul Python

CI is launch for all but the $CI_DEFAULT_BRANCH (ie. main)
  .gitlab-ci.yml
Due: Build Calqul Python

Defining CI environments
  .gitlab-ci.yml
Due: Build Calqul Python

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: Build Calqul Python

CI syntax
  .gitlab-ci.yml
Due: Build Calqul Python

Document
  .gitlab-ci.yml
Due: Build Calqul Python

DOCKER_TLS_CERTDIR
  .gitlab-ci.yml
Due: Build Calqul Python

Launch does only 'launching python scripts'
  Dockerfiles/python/scripts/launch.sh
Due: Build Calqul Python

InitContainers to clone data repo before launching calculation
  deployment/job-calqul.yml
Due: none

set environment for deploy stage in dev
  .gitlab-ci.yml
Due: Build Calqul Python

formatting command
  deployment/job-calqul.yml
Due: none

shell command
  deployment/job-calqul.yml
Due: none

alpine/git image instead of busybox which is only an shell
  deployment/job-calqul.yml
Due: none

Testing inicontainers specs
  deployment/job-calqul.yml
Due: none

Sleeping to analize
  deployment/job-calqul.yml
Due: none

command
  deployment/job-calqul.yml
Due: none

simple quotes
  deployment/job-calqul.yml
Due: none

Path conditions:
  Build Calqul Python: any of: Dockerfiles/python/Dockerfile, Dockerfiles/python/scripts/*, .gitlab-ci.yml
  Build Calqul Postgis: any of: Dockerfiles/db/Dockerfile
